fastapi
uvicorn
groq
python-dotenv
pydantic
python-multipart
pyjwt
supabase
langchain
langchain-groq
langchain-community
openai
pinecone
pdfplumber
camelot-py[cv]
numpy
PyPDF2
'pydantic[email]'pytest
pytest-asyncio
