fastapi
uvicorn
groq
python-dotenv
pydantic
python-multipart
pyjwt
supabase
langchain
langchain-groq
langchain-community
langchain-huggingface
pinecone
FlagEmbedding
pdfplumber
camelot-py[cv]
numpy
PyPDF2
mangum
